<h1>Rick and morty </h1>
<button class="btn btn-primary" (click)="callRickMortyAPI()"> Call Api</button>

<h3>Rick and morty Data</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">species</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of result">
        <td>{{ item['id'] }}</td>
        <td>{{ item['name'] }}</td>
        <td>{{ item['species'] }}</td>
      </tr>
    </tbody>
  </table>
